/* sidebar */

@media (min-width: 1024px) {

    .main.active {

        width: 95vw !important;
        transition: 0.5s;
    }
    .main.inactive {

        width: 79vw !important;
        transition: 0.5s;
    }

    .sidebar {

        transition: 0.5s all;
    }

    .sidebar.inactive {
        /* margin-left: 2px ; */

        width: 5vw !important;


    }

    .sidebar.active {
        /* margin-left: 240px ; */

        width: 20vw !important;
        transition: 0.5s all;


    }

    .bg-drop {
        /* background-color: bisque !important; */
        box-shadow: -6px 0px 17px 1px rgba(0,0,0,0.28) !important;
    }
}
