@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  transition: background-color 0.5s ease-in-out; 
 } */


::-webkit-scrollBar{
width:4px ;
background-color: #F5F5F5;
overflow-y: scroll;
}

::-webkit-scrollbar-thumb{
  background-color: #38cab4ee;
  border-radius: 20px;
}

[data-theme="night"]{

  .daisy{
    color: 	#3ABFF8 !important;
    font-size: 36px;
   }

   .ui{
    color: 	#C8CAD0 !important;
    font-size: 36px;
   }
 }

[data-theme="light"]{

 

  .daisy {
    color: 	#66CC8A !important;
    font-size: 36px;
   }

   .ui{
    color: 	#333C4D !important;
    font-size: 36px;
   }
  }

  .plas{
    -webkit-box-shadow: -14px 1px 30px -20px rgba(0,0,0,0.54);
    -moz-box-shadow: -14px 1px 30px -20px rgba(0,0,0,0.54);
    box-shadow: -14px 1px 30px -20px rgba(0,0,0,0.54)
  }



